<div class="card-container front">

  {{ partial "website/webPageTemplateHead" }}

  <div class="card-body">
    <ul class="widgets">
      {{#each mainWidgets}}
        {{ partial "website/widget" }}
      {{/each}}
    </ul>

    {{ partial "website/webPageTemplateFlip" }}
  </div>
</div>
