// *************************************
//
//   Card
//   ->
//
// *************************************

.card-options-list {
  float: right !important;
  a {
    color: $g5-grey;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:before {
      text-decoration: none;
    }
    &.active {
      color: $base-color;
      text-decoration: underline;
      cursor: default;
      &:hover {
        color: $base-color;
        cursor: default;
      }
    }
  }
}

.cards {
  margin-left: -1%;
  margin-right: -1%;
  .ui-sortable-connected {
    &:before,
    &:after {
      display: inline;
    }
  }
}
.card {
  @include box-sizing(border-box);
  position: relative;
  float: left;
  height: 180px;
  .cards-small & {
    height: 50px;
  }
  margin-bottom: $base-whitespace;
  padding-left: 1%;
  padding-right: 1%;
  width: 100%;
  z-index: 1;
  .widgets {
    @extend %group;
    margin-bottom: 1em;
    .widget {
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .buttons {
    position: absolute;
    top: .75em;
    right: .75em;
    .btn {
      @include respond-to($l-min-medium, min-width) {
        display: inline-block;
        padding: .5em 1em;
      }
      &[disabled] {
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
      }
    }
  }
  form {
    position: relative;
    top: -0.6em;
  }
  .switch-label {
    margin-right: $base-whitespace;
  }
  input[type=text] {
    border: none;
    padding: 3px 5px;
    width: 100%;
    &.error {
      border: 1px solid #FF0000;
    }
  }
  .card-corner {
    position: absolute;
    bottom: 0;
    right: 0;
    &:after {
      @include triangle(50px, #f9fafb, down-right);
      bottom: 0;
      content: '';
      position: absolute;
      right: 0;
    }
    .icon {
      position: relative;
      z-index: 1;
    }
  }
  .cancel-link {
    @include font-size(12px);
    background: transparent;
    border: none;
    display: inline-block;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    color: $c-color-b;
    padding: .5em .5em;
    &:hover {
      text-decoration: underline;
      color: $c-color-c;
    }
  }
  .save {
    display: inline-block;
  }
  &.flipped {
    .buttons {
      display: none;
      &.buttons-back {
        display: block;
      }
    }
  }
}

.card-container {
  @include box-sizing(border-box);
  background-color: $c-background-a;
  height: 180px;
  padding-bottom: 50px;
  width: 100%;
  .cards-small & {
    height: 50px;
  }
}

.card-head {
  @extend %group;
  background-color: $base-color;
  color: $c-color-b;
  cursor: move;
  padding: 1em;
  h3 {
    overflow: visible;
    @extend %c-h6;
    @extend %ellipsis;
    @extend %l-pullLeft;
    margin-bottom: 0;
  }
  .switch {
    @extend %l-pullRight;
  }
  &:hover {
    background-color: lighten($base-color, 4%);
  }
}

.card-body {
  padding: 10px 10px 0;
  .form-field {
    width: 48%;
    float: left;
    margin-right: 1%;
  }
  .cards-small & {
    display: none;
  }
}
