// *************************************
//
//   Navigation
//   -> Horizontal nav list
//
// *************************************

[role=navigation] {
  margin-bottom: 1.5em;
}

.nav-toggle {
  position: relative;
  float:right;
  a {
    cursor: pointer;
    line-height: 30px;
    padding: 10px;
    color: $c-color-b;
  }
  &.show-nav {
    background: darken($g5-grey, 15%);
  }
}

.nav {
  @include clearfix;
  position:absolute;
  top:50px;
  z-index: 1001;
  .hide-nav & {
    display:none;
  }
  .show-nav & {
    display:block;
    right:0;
    min-width: 200px;
    background: darken($g5-grey, 15%);
  }
  a {
    @include font-size(12px);
    display: block;
    padding: .5em;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.4rem;
    &.active {
      color: $c-color-c;
      cursor: default;
    }
    &:hover {
      background: darken($g5-grey, 30%);
    }
  }
  li, a {
    display:block;
  }
}
