// *************************************
//
//   Navigation
//   -> Horizontal nav list
//
// *************************************

[role=navigation] {
  margin-bottom: 1.5em;
}

.navbar {
  position: relative;
  float:right;
  a {
    cursor: pointer;
    line-height: 30px;
    padding: 10px;
    color: $c-color-b;
  }
  .nav-toggle, .nav-widgets {
    float: right;
    display: block;
    position: relative;
    background-color: transparent;
    > a {
      text-indent: -9999em;
      width: 50px;
      height: 50px;
      padding: 0;
      display: block;
      position: relative;
    }
    &.show-nav {
      background-color: darken($g5-grey, 15%);
    }
    &:hover {
      background-color: $g5-grey;
    }
  }
  .nav-toggle {
    background-image: url('icon-menu.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  .nav-widgets {
    background-image: url('icon-widgets.png');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.nav {
  @include clearfix;
  position:absolute;
  top:50px;
  z-index: 1001;
  .hide-nav & {
    display:none;
  }
  .show-nav & {
    display:block;
    right:0;
    min-width: 200px;
    background: darken($g5-grey, 15%);
  }
  a {
    @include font-size(12px);
    display: block;
    padding: .5em;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.4rem;
    &.active {
      color: $c-color-c;
      cursor: default;
    }
    &:hover {
      background: darken($g5-grey, 30%);
    }
  }
  li, a {
    display:block;
  }
}
