// *************************************
//
//   Navigation
//   -> Horizontal nav list
//
// *************************************

[role=navigation] {
  margin-bottom: 1.5em;
}

.nav-toggle {
  position: absolute;
  top: 0;
  width: 24px;
  height: 24px;
}

.nav {
  @include clearfix;
  position:absolute;
  top:0;
  a {
    @include font-size(12px);
    display: block;
    padding: .5em;
    text-decoration: none;
    text-transform: uppercase;
    &.active {
      color: $c-color-c;
    }
  }
  li, a {
    float: left;
  }
  @include respond-to($l-min-medium) {
    li, a {
      float: left;
      line-height: 1;
    }
    li {
      border-left: 1px solid $base-color;
      &:first-child {
        border-left: none;
      }
    }
    a {
      padding: 0 .5em;
    }
  }
}
