// *************************************
//
//   Page
//   -> Page level styles
//
// *************************************

[role=main] .l-container {
  padding-top: $base-whitespace;
  padding-bottom: $base-whitespace;
}


// ----- Submodules ----- //
.page {
  padding-top: 50px;
}

.page-section {
  @extend %group;
  margin-bottom: $base-whitespace;
  &.site-settings {
    border-bottom: $base-border;
    @include clearfix;
  }
  .l-cell {
    width: 100%;
    margin-bottom: $base-whitespace;
    @media screen and (min-width: $l-min-medium) and (max-width: $l-max-large) {
      width: 48%;
      margin-left: 4%;
      &:nth-of-type(2n+1) {
        margin-left: 0;
      }
    }
    @media screen and (min-width: $l-min-large) and (max-width: $l-max-xlarge) {
      width: 31.33%;
      margin-left: 3%;
      &:nth-of-type(3n+1) {
        margin-left: 0;
      }
    }
    @include respond-to($l-min-xlarge) {
      width: 23.5%;
      margin-left: 2%;
      &:nth-of-type(4n+1) {
        margin-left: 0;
      }
    }
  }
  .l-double-cell {
    @media screen and (min-width: $l-min-medium) and (max-width: $l-max-large) {
      width: 100%;
    }
    @include respond-to($l-min-xlarge) {
      width: 49%;
      margin-left: 2%;
    }
  }
  #site-settings-wrapper {
    @include clearfix;
  }
}

.garden-web-wrapper {
  @include clearfix;
  display:none;
}

.page-title {
  @include clearfix;
  margin-bottom: 1.25em;
  .ember-view {
    float: left;
    margin-right: 5px;
  }
  h2 {
    @extend %c-shout;
    @extend %c-h3;
    color: $g5-blue-dark;
    font-weight: $c-semiBold;
    margin-bottom: 0;
  }
  @include respond-to($l-max-medium, max-width) {
    .l-pullLeft,
    .l-pullRight {
      width: 100%;
    }
    .buttons {
      display: block;
      margin-top: .5em;
    }
    .btn {
      display: block;
      margin-bottom: .5em;
    }
  }
  @include respond-to($l-min-medium) {
    .btn {
      margin-left: 5px;
      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}

.page-toolbar {
  padding: 0.75em 0;
  background-color: $c-background-c;
  h2 {
    float: left;
    font-size: 1.6rem;
  }
  @media (max-width: 840px){
    h2 {
      float: none;
    }
    .ember-view {
      float: none;
    }
    .buttons {
      float: none;
    }
    .btn {
      width: 48%;
      margin: 0 1% .5em 1%;
      float: left;
      &:first-of-type {
        margin-left: 1%;
      }
      &.btn--deploy {
        width: 98%;
      }
    }
  }
}
