<header role="banner" class="banner">
  <div class="l-container">

    <h1 class="banner-title">
      <a {{bind-attr href="controllers.client.dsh_url"}}>
        <img class="banner-logo" src="<%= asset_path("logo-large.png") %>" alt="G5" /><span class='banner-logo-text'>DXM</span>
      </a>

      <a href="/" class="banner-subtitle">
        Content Management System (CMS)
      </a>
    </h1>

  </div> <!-- end .l-container -->
</header>
