<div class="widget-list">
  <div class="l-container">
    <div class="toggle-content page-section">
      {{#if model.isUpdating}}
        <div class="loading">Loading...</div>
      {{else}}
        <ul class="widgets--list-view widget-view">
          {{#each this}}
            {{view App.GardenWidgetView contentBinding="this"}}
          {{/each}}
        </ul>

        <div class="widget-view visuallyhidden">
          {{#view App.ThumbnailScrollerView}}
            <div class="jTscrollerContainer">
              <ul id="choose-widgets" class="jTscroller clearfix">
              {{#each this}}
                {{view App.GardenWidgetView contentBinding="this"}}
              {{/each}}
              </ul>
            </div>
            <a href="#" class="jTscrollerPrevButton"></a>
            <a href="#" class="jTscrollerNextButton"></a>
          {{/view}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
