<div class="layout-picker thumbnail-field">
  <div class="l-container">

    <div id="layouts" class="toggle-content page-section">
      <div class="page-title"><h2>Select a Layout</h2></div>
      {{#if model.isUpdating}}
        <div class="loading">Loading...</div>
      {{else}}
        <div class="thumbs clearfix">
        {{#each model}}
          <div class="thumb">
            <a href="#" {{ action "update" this }}>
              {{#view App.GardenWebLayoutView contentBinding="this"}}
                <img alt="Thumbnail" {{ bind-attr src="thumbnail" class="view.isSelected" }}>
                {{ name }}
              {{/view}}
            </a>
          </div>
        {{/each}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
