<div class="saves l-container">
  <div class="page-title"><h2>CMS State Save Points</h2></div>

  <div class="faux-table faux-table--striped">
    <ul class="faux-table-body">
      {{#each model}}
      <li {{bind-attr class=":faux-table-row current"}}>
        <div class="faux-table-cell">{{created_at}}</div>
        <div class="faux-table-cell">{{url}}</div>
        <div class="faux-table-cell">
          <button class="btn" {{action restore this.id controller.slug}}>Restore This Save</button>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>

