<div class="breadcrumb">
  <div class="l-container">
    <nav class="nav" role="navigation">
      <ul>
        <li><a href="/">{{controllers.client.name}}</a></li>

        {{#if controllers.website}}
          <li>
            &raquo;
            {{#link-to "website" controllers.website}}
              {{controllers.website.name}}
            {{/link-to}}
          </li>
        {{/if}}

        {{#if controllers.webPageTemplate}}
            &raquo;
            <a>{{controllers.webPageTemplate.name}}</a>
        {{/if}}
      </ul>
    </nav>
  </div>
</div>
