<div class="widget-drop-zone aside-widgets aside-before-main-widgets">
  <h2>Aside before main</h2>
  {{view "widgets-list" contentBinding="content"}}
  <div class="add-drop-zone">
    {{view "widgets-add" contentBinding="content"}}
  </div>
  <div class="remove-drop-zone">
    {{view "widgets-remove" contentBinding="content"}}
  </div>
</div>
